<div class="logo">
	<h1>Time tracker</h1>
</div>

<ul class="custom-nav nav nav-tabs">
	<li class="nav-item <%= active?(root_path) %>">
		<%= link_to "Home", root_path %>
	</li>
	<li class="nav-item <%= active?(posts_path) %>">
		<%= link_to "Time entries", posts_path %>
	</li>
	<li class="nav-item dropdown pull-right">
		<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Account<strong class="caret"></strong></a>
		<div class="dropdown-menu">
			<%= link_to "Edit Details", edit_user_registration_path %>
			<div class="dropdown-divider"></div>
			<%= link_to "Logout", destroy_user_session_path, method: :delete %>
		</div>
	</li>
</ul>